.login {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.login Button {
    margin-top: 50px;
}